<div class="jumbotron">
  <h1>List person</h1>
  <div class="table-responsive">
    <table class="table table-striped table-dark table-bordered table-hover table-sm">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Last name</th>
          <th scope="col">Number document</th>
          <th scope="col">E-mail</th>
          <th scope="col">Birth date</th>
          <th scope="col">Issue date</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let person of listPerson">
            <td scope="row">{{person.name}}</td>
            <td scope="row">{{person.lastName}}</td>
            <td scope="row">{{person.numberDocument}}</td>
            <td scope="row">{{person.email}}</td>
            <td scope="row">{{person.birthDate}}</td>
            <td scope="row">{{person.issueDate}}</td>
            <td scope="row"><button class="btn btn-primary" routerLink="/person/form/{{person.id}}">Edit</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>