
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Invoice</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">         
        <li class="nav-item" *ngIf="loggedIn">
          <a class="nav-link" routerLink="/person/list">Person</a>
        </li>      
        
      </ul>
      <div class="form-inline my-2 my-lg-0" *ngIf="loggedIn">        
        <button class="btn btn-outline-success my-2 my-sm-0" (click)="logout()">Log out</button>
      </div>
    </div>
  </nav>
  
  <br/>
  <div class="container">
    <router-outlet *ngIf="loggedIn"></router-outlet>
    <app-login *ngIf="!loggedIn"></app-login>
  </div>
  <spinner></spinner>
  <toaster-container></toaster-container>