<form [formGroup]="formInvoice" (ngSubmit)="save()" *ngIf="ready">
    <div class="card " *ngIf="ready">
        <div class="card-header bg-dark text-white">
            <div class="row">
              <div class="col-sm-9">
                <h3 class="no-margin">Invoice form <span *ngIf="invoice.code != null"># {{invoice.code}}</span></h3>
              </div>
              <div class="col-sm-3 text-align-right" >
                <button class="btn btn-default" routerLink="/invoice/{{idPerson}}/detail/{{id}}" *ngIf="id != undefined">
                  <i class="fa fa-eye"></i>
                </button>
                <button class="btn btn-default" routerLink="/person/detail/{{idPerson}}">
                  <i class="fa fa-list"></i>
                </button>                
              </div>
            </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item active">
                    <div class="row"> 

                      <div class="col-md-4 text-align-center">                       
                        <div class="form-group">                                                    
                          <div class="autocomplete">
                              <input type="text" class="form-control" placeholder="Search product" (keyup)="autocomplete($event)" (blur)="onBlurAutoComplete($event)" />
                              <div class="list-group autocomplete-items">
                                <button type="button" *ngFor="let product of productList" class="list-group-item list-group-item-action text-align-left" (click)="selectProduct(product)">
                                  {{product.name}}
                                </button>
                              </div> 
                          </div>                                              
                        </div>
                      </div>
                      <div class="col-md-2 text-align-center d-none d-md-block">
                        Amount
                      </div>
                      <div class="col-md-2 text-align-center d-none d-md-block">
                        Price per unit
                      </div>
                      <div class="col-md-2 text-align-center d-none d-md-block">
                        Total price
                      </div>
                    </div>
                  </li>
                  <li *ngFor="let item of invoice.listItem" class="list-group-item">
                    <div class="row">
                      <div class="col-md-4">
                          {{item.product.name}}
                      </div>

                      <div class="col-md-2">
                          <div class="form-group" [ngClass]="{'has-error': hasErrors(item.controlAmount)}">   
                            <label class="form-control-label d-block d-md-none">Amount</label>
                            <input type="number" class="form-control" placeholder="Amount" [formControlName]="item.keyControlAmount" [(ngModel)]="item.amount" />
                            <div class="form-control-feedback">
                              <small *ngIf="hasError(item.controlAmount,'required')">Amount is required</small>
                              <small *ngIf="hasError(item.controlAmount,'number')">Amount must be numeric</small>
                              <small *ngIf="hasError(item.controlAmount,'min')">Amount must be minimum 1</small>
                            </div>      
                          </div>
                        </div>

                      <div class="col-md-2">
                        <div class="form-group" *ngIf="item.product != undefined && item.product.id != undefined">
                          <label class="form-control-label d-block d-md-none">Price per unit</label>
                          <div class="text-align-right">
                            {{item.product.grossPricePerUnit + item.product.priceTaxesPerUnit | currency}}
                          </div>
                        </div>
                      </div>

                      <div class="col-md-2">
                          <div class="form-group" *ngIf="item.amount != undefined && item.amount> 0 && item.product != undefined && item.product.id != undefined">
                            <label class="form-control-label d-block d-md-none">Total price</label>
                            <div class="text-align-right">
                                {{(item.product.grossPricePerUnit + item.product.priceTaxesPerUnit)*item.amount | currency}}
                            </div>
                          </div>
                        </div>
                      
                      <div class="col-md-2 text-align-right">
                          <button type="button" class="btn btn-danger" (click)="removeControlItem(item)">
                            <i class="fa fa-trash"></i>
                          </button>
                      </div>


                    </div>
                  </li>
                  <li class="list-group-item d-block d-md-none">
                    <div class="row">
                      <div class="col-6">
                          <strong>Total</strong>
                      </div>
                      <div class="col-6 text-align-right">
                          <strong>{{getTotal() | currency}}</strong>
                      </div>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row">
                      <div class="offset-md-8 col-md-2 text-align-right d-none d-md-block">
                        <label class="form-control-label d-block d-md-none">Total</label>
                        <div class="text-align-right">
                          <strong>{{getTotal() | currency}}</strong>
                        </div>
                      </div>                                        
                    </div>
                  </li>
                  <li class="list-group-item" >
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group" [ngClass]="{'has-error': hasErrors(controlComments)}">      
                          <label for="comments" class="form-control-label">Comments</label>
                          <textarea class="form-control" name="comments" id="comments" placeholder="Comments" formControlName="controlComments" [(ngModel)]="invoice.comments"></textarea>                
                          <div class="form-control-feedback">
                              <small *ngIf="hasError(controlComments,'maxlength')">Comments must be lesser than 500 characters long</small>
                          </div> 
                        </div>
                      </div>
                    </div>
                  </li>           
                </ul>                
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-md-10">&nbsp;</div>
            <div class="col-md-2">
              <button type="submit" class="btn btn-success form-control">Save</button>
            </div>         
          </div>
        </div>
    </div>
</form>
