<div class="jumbotron">
  <h1>Person</h1>

  <form [formGroup]="formPerson"  (ngSubmit)="save()" *ngIf="formPrepared">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group" [ngClass]="{'has-error': hasErrors(controlName)}">     
            <label for="name" class="form-control-label">Name</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Name" formControlName="controlName" [(ngModel)]="person.name" />
            <div class="form-control-feedback">
                <small *ngIf="hasError(controlName,'required')">Name is required</small>
                <small *ngIf="hasError(controlName,'minlength')">Name must be greater than 3 characters long</small>
                <small *ngIf="hasError(controlName,'maxlength')">Name must be lesser than 150 characters long</small>
            </div>      
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group" [ngClass]="{'has-error': hasErrors(controlLastName)}">      
          <label for="lastName" class="form-control-label">Last name</label>
          <input type="text" class="form-control" name="lastName" id="lastName" placeholder="Last name" formControlName="controlLastName" [(ngModel)]="person.lastName" />
          <div class="form-control-feedback">
              <small *ngIf="hasError(controlLastName,'required')">Last name is required</small>
              <small *ngIf="hasError(controlLastName,'minlength')">Last name must be greater than 3 characters long</small>
              <small *ngIf="hasError(controlLastName,'maxlength')">Last name must be lesser than 200 characters long</small>
          </div> 
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group" [ngClass]="{'has-error': hasErrors(controlEmail)}">      
          <label for="email" class="form-control-label">E-mail</label>
          <input type="text" class="form-control" name="email" id="email" placeholder="E-mail" formControlName="controlEmail" [(ngModel)]="person.email" />
          <div class="form-control-feedback">
              <small *ngIf="hasError(controlEmail,'required')">E-mail is required</small>
              <small *ngIf="hasError(controlEmail,'minlength')">E-mail must be greater than 3 characters long</small>
              <small *ngIf="hasError(controlEmail,'maxlength')">E-mail must be lesser than 200 characters long</small>
              <small *ngIf="hasError(controlEmail,'email')">E-mail is invalid</small>
          </div> 
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group" [ngClass]="{'has-error': hasErrors(controlNumberDocument)}">      
          <label for="numberDocument" class="form-control-label">Number of document</label>
          <input type="text" class="form-control" name="numberDocument" id="numberDocument" placeholder="Number of document" formControlName="controlNumberDocument" [(ngModel)]="person.numberDocument" (keyup)="controlMatchNumberDocument.updateValueAndValidity()"/>
          <div class="form-control-feedback">
              <small *ngIf="hasError(controlNumberDocument,'required')">Number of document is required</small>
              <small *ngIf="hasError(controlNumberDocument,'minlength')">Number of document must be greater than 3 characters long</small>
              <small *ngIf="hasError(controlNumberDocument,'maxlength')">Number of document must be lesser than 200 characters long</small>            
          </div> 
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group" [ngClass]="{'has-error': hasErrors(controlMatchNumberDocument)}">
          <label for="matchNumberDocument" class="form-control-label">Confirm number of document</label>
          <input type="text" name="matchNumberDocument" id="matchNumberDocument" formControlName="controlMatchNumberDocument" placeholder="Confirm number of document" class="form-control"/>
          <div class="form-control-feedback">
            <small *ngIf="hasError(controlMatchNumberDocument,'match')">It must match with number document</small> 
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group" [ngClass]="{'has-error': hasErrors(controlGender)}">
          <label for="gender" class="form-control-label">Gender</label>
          <select name="gender" id="gender" formControlName="controlGender" class="form-control" [(ngModel)]="person.gender">
            <option *ngFor="let gender of genders" [value]="gender.value">{{gender.label}}</option>
          </select>
          <div class="form-control-feedback">
            <small *ngIf="hasError(controlGender,'required')">Gender is required</small>
          </div>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="form-group" [ngClass]="{'has-error': hasErrors(controlBirthDate)}">
          <label for="birthDate" class="form-control-label">Birth date</label>
          <input type="date" name="birthDate" id="birthDate" placeholder="Birth date" formControlName="controlBirthDate" class="form-control" [(ngModel)]="person.birthDate" (change)="controlIssueDate.updateValueAndValidity()" />         
          <div class="form-control-feedback">
            <small *ngIf="hasError(controlBirthDate,'required')">Birth date is required</small>
            <small *ngIf="hasError(controlBirthDate,'nullValidator')">Birth date must not be null</small>
            <small *ngIf="hasError(controlBirthDate,'maxdate')">Birth date must be younger than issue date</small>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group" [ngClass]="{'has-error': hasErrors(controlIssueDate)}">
          <label for="issueDate" class="form-control-label">Issue date</label>
          <input type="date" name="issueDate" id="issueDate" placeholder="Issue date" formControlName="controlIssueDate" class="form-control" [(ngModel)]="person.issueDate" (change)="controlBirthDate.updateValueAndValidity()" />         
          <div class="form-control-feedback">
            <small *ngIf="hasError(controlIssueDate,'required')">Issue date is required</small>
            <small *ngIf="hasError(controlIssueDate,'nullValidator')">Issue date must not be null</small>
            <small *ngIf="hasError(controlIssueDate,'mindate')">Issue date must be older than birthDate</small>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <div class="custom-file">
            <input type="file" #photoInput class="custom-file-input" id="photo" name="photo" accept="image/*">
            <label class="custom-file-label" for="photo">Choose a photography...</label>
          </div>
        </div>
      </div>


    </div>
    <div class="row">
      <div class="col-md-9">&nbsp;</div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-success form-control">Save</button>
      </div>
      <div class="col-md-1 text-align-left">
        <a routerLink="/person">Cancelar</a>
      </div>
    </div>
  </form>
</div>