<div class="jumbotron" *ngIf="ready">
  <app-datatable [title]="'Person list'" [pageable]="pageable">
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover table-sm">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Last name</th>
            <th scope="col">Number document</th>
            <th scope="col">E-mail</th>
            <th scope="col">Birth date</th>
            <th scope="col">Issue date</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let person of pageable.content">
            <td scope="row">{{person.name}}</td>
            <td scope="row">{{person.lastName}}</td>
            <td scope="row">{{person.numberDocument}}</td>
            <td scope="row">{{person.email}}</td>
            <td scope="row">{{person.birthDate}}</td>
            <td scope="row">{{person.issueDate}}</td>
            <td scope="row" class="text-align-right">
              <button class="btn btn-default" routerLink="/person/detail/{{person.id}}">
                <i class="fa fa-eye"></i>
              </button>  
              <button class="btn btn-primary" routerLink="/person/form/{{person.id}}">
                <i class="fa fa-pencil-square-o"></i>
              </button>                      
              <button class="btn btn-danger" (click)="delete(person.id)">
                  <i class="fa fa fa-trash-o"></i>
              </button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="6"></td>
            <td class="text-align-right">
              <button class="btn btn-success" routerLink="/person/form">
                <i class="fa fa-plus"></i>
              </button>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </app-datatable>
</div>
